
body {
    background: #000;
    display: flex;
    flex-direction: row;
}

.lyrics-space {
    font-family: "Lato";
    color: aliceblue;
}

.menu{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.grade {
    padding: 10px;
}

.N5.on {
    color: tomato;
}

.N4.on {
    color: purple;
}

.N3.on {
    color: darkgreen;
}

.N2.on {
    color: darkgoldenrod;
}

.N1.on {
    color: royalblue;
}