
body {
    background: #000;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.lyrics-space, span {
    font-family: "Lato";
    color: aliceblue;
}

.menu{
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 70px;
}

.grade {
    padding: 10px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border: 1px solid aliceblue;
    margin-top: 10px;
    border-radius: 3px;
}

.N5.on {
    color: tomato;
}

.N4.on {
    color: purple;
}

.N3.on {
    color: darkgreen;
}

.N2.on {
    color: darkgoldenrod;
}

.N1.on {
    color: royalblue;
}
.vocab{
    text-decoration: underline;
    text-decoration-color: chartreuse;
}